@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Fredoka', sans-serif;
  background-color: #F8FAFC;
}

.gradient-text {
  background: linear-gradient(135deg, #2563EB, #0EA5E9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.theme-transition {
  transition-property: height, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
